{% extends 'miApp/base.html' %}

{% block content %}
<section class="hero">
    <div class="text">
        <h1>Reparaciones rápidas y confiables</h1>
        <p>Para tu dispositivo móvil</p>
        <button class="green">Cotiza tu reparación</button>
    </div>
  
</section>

<section class="caracteristicas">
    <div>
        <h3>🔧 Profesionales de confianza</h3>
        <p>Confía en nuestro equipo de técnicos profesionales...</p>
    </div>
    <div>
        <h3>🔁 Respuesta rápida</h3>
        <p>Nuestro objetivo es devolver tu dispositivo lo más rápido posible.</p>
    </div>
    <div>
        <h3>🩺 Diagnóstico gratis</h3>
        <p>Te ofrecemos un diagnóstico gratuito.</p>
    </div>
</section>

<h2 class="titulo-reparaciones">Todo tipo de reparaciones</h2>

<section class="reparaciones">
    <div><h4>📱 iPhone</h4><p>Pantallas agrietadas, daños por agua, batería y más.</p></div>
    <div><h4>📲 iPad</h4><p>Pantallas rotas, batería y software.</p></div>
    <div><h4>🤖 Android</h4><p>Reemplazos de placas base y más.</p></div>
    <div><h4>💻 Tablet</h4><p>Soluciones rápidas para tablets.</p></div>
</section>

<section class="call-to-action">
    <h3>¡Repara tu dispositivo móvil hoy mismo!</h3>
    <p>Reparamos el mismo día en la mayoría de los casos.</p>
    <button class="green">Cotiza tu reparación</button>
</section>
{% endblock %}
